.user_img {
  height: 75px;
  width: 75px;
  border-radius: 50px;
}
.chat_header{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  align-items: center;
}

.chat_header h3{
  margin-left: 40px;
}

.chat_body{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.single_message{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.single_message .img_holder img,
.actions .img_holder img{
  height: 35px;
  width: 35px;
}
.message_text{
  position: relative;
  margin-left: 20px;
  background-color: #e3e3e3;
  color: #777;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.message_text div{
  position: absolute;
  transform: rotate(135deg) skew(20deg, 20deg);
  background-color: #e3e3e3;
  height: 15px;
  width: 15px;
  left: -7px;
}

.my_message{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.my_message .message_text{
  background-color: rgb(40, 122, 124);
  color: white;
  margin-right: 20px;
  margin-left: 100px;
}

.my_message .message_text div{
  background-color: rgb(40, 122, 124);
  left: unset;
  right: -7px;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
textarea{
  width: 100%;
  margin-left: 20px;
  padding: 5px 15px 5px 15px;
}
