<h3 class="w3-center" (click)="show()">My wanders</h3>
<div class="wander_header">
  <div class="header_btns" *ngIf="!createWanderPage">
    <button class="btn btn-3 btn-3b icon-star-2"
            (click)="createWander()">
      <span>+</span> Create a wander</button>
    <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
    </div>
  </div>
</div>
<h2 *ngIf="myInvited.length > 0" class="w3-center">You are invited for</h2>
<app-wander-results [result]="myInvited"></app-wander-results>
<h2 class="w3-center">Your wanders</h2>
<app-wander-results [result]="myWanders"></app-wander-results>

