.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../../assets/parallax/main.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url('../../assets/parallax/latest.jpg');
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url('../../assets/parallax/top_dest.jpg');
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
.paralax{
    opacity: 0.9;
}
.destinations_row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px
}
.map_holder{
  padding: 5px;
}
.map_holder div{
  height: 300px;
  width: 400px;
}
.destinations{
  background-color: #e3e3e3;
  padding: 10px;
}
.place{
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
