<div class="bgimg-1 w3-display-container paralax">
  <div class="reg_form">
    <div class="reg_header w3-center">
      <div class="liner"></div>
      <ul>
        <li class="nav-tab">
          <a (click)="setStep(0)" title="system">
            <span class="round-tabs one">
              <i class="fa fa-lock"></i>
            </span>
          </a>
        </li>
        <li class="nav-tab">
          <a (click)="setStep(1)" title="personal">
            <span class="round-tabs two">
              <i class="fa fa-user"></i>
            </span>
          </a>
        </li>
        <li class="nav-tab">
          <a (click)="setStep(2)" title="location">
            <span class="round-tabs three">
              <i class="fa fa-home"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <app-register-system *ngIf="currentRoute == 0" [user]="user" (errorReporter)="errorReporter($event)"></app-register-system>
    <app-register-personal *ngIf="currentRoute == 1" [user]="user" (errorReporter)="errorReporter($event)"></app-register-personal>
    <app-register-location *ngIf="currentRoute == 2" [user]="user" (errorReporter)="errorReporter($event)"></app-register-location>
    <div class="btns">
      <button *ngIf="currentRoute != 0" (click)="prevStep()">Previous</button>
      <button *ngIf="currentRoute != 2" (click)="nextStep()">Next &#8674;</button>
      <button *ngIf="currentRoute == 2" id="confim_btn" (click)="confirmRegistration()">Confirm</button>
    </div>
  </div>
</div>
