 <h3 class="w3-center">Create Wander</h3>
  <div class="joinwander_block">
    <div class="search_creteria">
      <label>From:</label>
      <input type="text"/>
    </div>
    <div class="search_creteria">
      <label>Where:</label>
      <input type="text"/>
    </div>
  </div>
  <div class="joinwander_block">
    <div class="search_creteria">
      <label>Picking up</label>
      <select>
        <option>Hitch hiking</option>
        <option>Plane</option>
        <option>Bus/Train/Car</option>
      </select>
    </div>
    <div class="search_creteria">
      <label>Main wander Aim</label>
      <select>
        <option>Nature landscapes</option>
        <option>Cities</option>
        <option>Culture</option>
      </select>
    </div>
  </div>
  <div class="joinwander_block">
    <div class="search_creteria">
      <label>Approximate Budget</label>
      <input type="range" class="slider slider_height" min="100" max="2000" value="500">
    </div>
    <div class="budget_range">
      <div class="search_creteria">
        <label>From</label>
        <input type="number">
      </div>
      <div class="search_creteria">
        <label>To</label>
        <input type="number">
      </div>
    </div>
  </div>

  <div class="joinwander_btns">
    <input type="submit" value="Search"/>
    <input type="button" id="reset" value="Reset"/>
  </div>
