.with_image{
  display: flex;
  flex-direction: row;
}
.single_data{
  display: flex;
  flex-direction: row;
}
.all_container{
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.rest_info{
  margin-left: 20px;
}
h2{
  padding-bottom: 5px;
  border-bottom: 1px solid #3a3a3a;
}

h2 i{
  margin-left: 20px;
  cursor: pointer;
}

.btns{
width: fit-content;
}
label{
  margin-right: 10px;
}
.comment_field{
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.comment_body{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.comment_text{
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
textarea{
  width: 100%;
  margin-bottom: 10px;
}
.user_avatar{
  width: 80px;
  border-radius: 40px;
}
.comment{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.comment_data{
  margin-left: 20px;
  width: 100%;
}
.comment_header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
