<div class="all_container">
  <h2 class="w3-center">
    <span *ngFor="let dest of wander.destinations; let i = index">
      <span>{{dest}}</span>
      <span *ngIf="i!= wander.destinations.length-1">&nbsp;-&nbsp;</span>
    </span>
    <i *ngIf="isMyWander" (click)="editWander()" class="fa fa-edit"></i>
  </h2>
  <div class="wander_body">
    <div class="with_image">
      <div class="image_holder">
        <img src={{wander.imgURL}}>
      </div>
      <div class="rest_info">
        <div class="single_data">
          <label>Date:</label>
          <p>{{wander.startDate}} - {{wander.endDate}}</p>
        </div>
        <div class="single_data">
          <label>Initiator:</label>
          <div class="initiator" (click)="navigateToUser(initiator)">
            <img src="{{initiator.avatar||'../../assets/images/users/bzahay.png'}}">
            <p>{{initiator.name}} <i title="This user is travel agency" class="fa fa-suitcase" *ngIf="initiator.personCompany === 'Company'"></i></p>
          </div>
        </div>
        <div class="single_data">
          <label>Participants:</label>
          <div class="participants">
            <div class="initiator" *ngFor="let part of participants" (click)="navigateToUser(part)">
              <img src="{{part.avatar||'../../assets/images/users/bzahay.png'}}">
              <p>{{part.name}}</p>
            </div>
          </div>
        </div>
        <div class="single_data">
          <label>Transport:</label>
          <p>{{wander.pickUp}}</p>
        </div>
        <div class="single_data">
          <label>Main wander aim:</label>
          <p>{{wander.aim}}</p>
        </div>
        <div class="single_data">
          <label>Budget:</label>
          <p>{{wander.budget}}$</p>
        </div>
        <div class="single_data">
          <label>Description:</label>
          <p>{{wander.description}}</p>
        </div>
        <div class="btns">
          <button class="wl-btn" *ngIf="!isMyWander && !isParticipant && user.personCompany !== 'Company'" (click)="joinWander()">Join!</button>
          <button class="wl-reset" (click)="leaveComment()">Leave comment</button>
          <button class="wl-delete" *ngIf="isParticipant" (click)="leaveWander()">Leave wander</button>
          <button class="wl-delete" *ngIf="isMyWander" (click)="deleteWander()">Delete wander</button>
          <button class="wl-delete" *ngIf="isMyInvited" (click)="deleteInviteWander()">Remove invite</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="comment_field" *ngIf="commentActive">
  <h4 class="w3-center">{{user.firstName}} {{user.lastName}}</h4>
  <div class="comment_body">
    <div class="user_avatar_holder">
      <img src="{{user.avatar || '../../assets/images/users/bzahay.png'}}" class="user_avatar">
    </div>
    <div class="comment_text">
      <textarea [(ngModel)]="myComment.text"></textarea>
      <div class="btns">
        <button class="wl-btn" (click)="saveComment()">Comment</button>
        <button class="wl-reset" (click)="cancelComment()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<h3 class="w3-center">Comments</h3>
<div class="comment" *ngFor="let comment of comments">
  <div class="user_avatar_holder">
    <img src="{{comment.avatar || '../../assets/images/users/bzahay.png'}}" class="user_avatar">
  </div>
  <div class="comment_data">
    <div class="comment_header">
      <label>{{comment.name}}</label>
      <label>{{comment.date}}</label>
    </div>
    <p>{{comment.text}}</p>
  </div>
</div>
