 <div class="main-header main-block">
    <div class="img-holder">
      <img src="../../assets/images/users/bzahay.png">
      <div *ngIf="isMe" class="upload">Upload image ↑</div>
    </div>
    <div class="user-names">
      <h3>{{user.firstName}} {{user.lastName}}</h3>
      <p> @{{user.email.split('@')[0]}}</p>
      <div class="about">
        <div></div>
        <span>{{user.description}}</span>
      </div>
      <div class="hz">
        <p>From <i class="fa fa-map-marker"></i> {{user.city}}, {{user.country}}</p>
        <div *ngIf="!isMe" class="otherUser_btns">
          <button (click)="addFriend()" *ngIf="!isFriend && !isMe" class="wl-btn">Add friend</button>
          <button *ngIf="isFriend" class="wl-reset">Delete friend</button>
          <button class="wl-btn message" (click)="showMessage()">Send message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="galary main-block">
    <div class="galary-imgholder">
      <img src="../../assets/images/users/galary/DSC_0582.JPG">
    </div>
    <div class="galary-imgholder">
      <img src="../../assets/images/users/galary/DSC_0621.JPG">
    </div>
    <div class="galary-imgholder">
      <img src="../../assets/images/users/galary/DSC_0808.JPG">
    </div>
    <div class="galary-add">+</div>
  </div>
  <div class="statistic">
    <div class="completed statistic-block">
      <div class="num">12</div>
      <div class="desc">Completed wanders</div>
    </div>
    <div class="suggested statistic-block">
      <div class="num">5</div>
      <div class="desc">Suggested wanders</div>
    </div>
    <div class="visited statistic-block">
      <div class="num">20</div>
      <div class="desc">Visited places</div>
    </div>
    <div class="mates statistic-block">
      <div class="num">11</div>
      <div class="desc">Wander mates</div>
    </div>
  </div>
  <div class="news">
    <div class="news-block main-block">

    </div>
    <div class="news-block main-block"></div>
</div>

 <div class="popup" *ngIf="ngPopup">
   <div>
     <div class="popup-text">
       <textarea [(ngModel)]="messageText"></textarea>
     </div>
     <div class="popup-buttons">
       <input type="button" value="Cancel" class="wl-btn wl-reset" (click)="btnCancel()">
       <input type="submit" value="Send" class="wl-btn" (click)="sendMessage()">
     </div>
   </div>
 </div>
