
.main-block{
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
}
.main-header{
  display: flex;
  flex-direction: row;
  background-color: white;
}
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload label{
  cursor: pointer;
}
.user-names{
  margin-left: 20px;
  width: 100%;
}

.img-holder{
  display: flex;
  flex-direction: column;
}

.img-holder img{
  max-height: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.upload{
  cursor: pointer;
}

.hz{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.galary{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.w3-button{
  background-color: #f8a356;
  color: white;
}
.galary-imgholder img{
  margin: 10px;
  max-height: 120px;
}
.galary-add{
  margin: 10px;
  background-color: #e3e3e3;
  max-height: 120px;
  font-size: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.statistic{
  margin-top:10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.statistic-block{
  width: 130px;
  height: 130px;
  margin: 5px;
  text-align: center;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
}
.completed{
  background-color: #2c5ca9;
}
.suggested{
  background-color: #00b5c2;
}
.visited{
  background-color: #00c292;
}
.mates{
  background-color: #f8a356;
}
.num{
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}
.desc{
  font-size: 18px;
  line-height: 1.5;
}
.news-block{
  height: 75px;
}
.about{
  position: relative;
  background-color: #e3e3e3;
  padding: 8px;
  border-radius: 5px;
}
.about div{
  position: absolute;
  transform: rotate(45deg) skew(20deg, 20deg);
  background-color: #e3e3e3;
  height: 15px;
  width: 15px;
  left: 10px;
  top: -7px;
}
i{
  margin-left: 10px;
}
button{
  width: 140px;
}
.upload{
  background-color: #e3e3e3;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.popup{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top:30%;
  left: 40%;
  height: fit-content;
  width: 400px;
  z-index: 242;
  background-color: white;
  border: 1px solid #777;
  border-radius: 5px;
}
.popup-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.popup-buttons input{
  margin-left: 20px;
  width: 80px;
}
.popup-text textarea{
  line-height: 1.5;
  resize: none;
  width: 100%;
}
.ava_preview{
  max-height: 380px;
  max-width: 380px;
}

.previewBtns{
  margin-top: 20px;
}

.comment_field{
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.comment_body{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.comment_text{
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.comment_text textarea{
  width: 100%;
  margin-bottom: 10px;
}
.user_avatar{
  width: 80px;
  border-radius: 40px;
}
.comment{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.comment_data{
  margin-left: 20px;
  width: 100%;
}
.comment_header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
