 <div class="main-header main-block">
    <div class="img-holder">
      <img class="user_ava" src="{{userAvatar}}">
      <div *ngIf="isMe" class="upload">
        <input id="userAva" type="file" (change)="uploadImage($event, 'avatar')">
        <label for="userAva">Upload image ↑</label>
      </div>
    </div>
    <div class="user-names">
      <h3>{{user.firstName}} {{user.lastName}} <i title="This user is travel agency" class="fa fa-suitcase" *ngIf="user.personCompany === 'Company'"></i></h3>
      <p> @{{user.email.split('@')[0]}}</p>
      <div class="about">
        <div></div>
        <span>{{user.description || 'No description provided'}}</span>
      </div>
      <div class="hz">
        <p>From <i class="fa fa-map-marker"></i> {{user.city}}, {{user.country}}</p>
        <div *ngIf="!isMe" class="otherUser_btns">
          <button (click)="addFriend()" *ngIf="!isFriend && !isMe" class="wl-btn">Add friend</button>
          <button *ngIf="isFriend" class="wl-reset">Delete friend</button>
          <button class="wl-btn message" (click)="showMessage()">Send message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="galary main-block">
    <h4 *ngIf="!user.images || user.images.length === 0">No images</h4>
    <div *ngFor="let image of user.images" class="galary-imgholder">
      <img src="{{image.src}}">
    </div>
    <div class="galary-add" *ngIf="isMe">
      <input id="userImage" type="file" (change)="uploadImage($event, 'image')">
      <label for="userImage"><i class="fa fa-plus"></i></label>
    </div>
  </div>
  <div class="statistic">
    <div class="completed statistic-block">
      <div class="num">12</div>
      <div class="desc">Completed wanders</div>
    </div>
    <div class="suggested statistic-block">
      <div class="num">5</div>
      <div class="desc">Suggested wanders</div>
    </div>
    <div class="visited statistic-block">
      <div class="num">20</div>
      <div class="desc">Visited places</div>
    </div>
    <div class="mates statistic-block">
      <div class="num">11</div>
      <div class="desc">Wander mates</div>
    </div>
  </div>
  <div class="news">
    <div class="comment_field" *ngIf="!isMe">
      <h4 class="w3-center">{{me.firstName}} {{me.lastName}}</h4>
      <div class="comment_body">
        <div class="user_avatar_holder">
          <img src="{{me.avatar || '../../assets/images/users/bzahay.png'}}" class="user_avatar">
        </div>
        <div class="comment_text">
          <textarea [(ngModel)]="myComment.text"></textarea>
          <div class="btns">
            <button class="wl-btn" (click)="saveComment()">Comment</button>
            <button class="wl-reset" (click)="cancelComment()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="choose">
      <div id="comments" class="chosen" (click)="chooseTab('comments')">Comments</div>
      <div id="wanders" (click)="chooseTab('wanders')">Wanders</div>
    </div>

    <div *ngIf="showTab === 'comments'">
      <div *ngIf="!comments || comments.length === 0" class="main-block">No comments</div>
      <div class="comment" *ngFor="let comment of comments">
        <div class="user_avatar_holder">
          <img src="{{comment.avatar || '../../assets/images/users/bzahay.png'}}" class="user_avatar">
        </div>
        <div class="comment_data">
          <div class="comment_header">
            <label>{{comment.name}} <i title="This user is travel agency" class="fa fa-suitcase" *ngIf="comment.personCompany === 'Company'"></i></label>
            <label>{{comment.date}}</label>
          </div>
          <p>{{comment.text}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="showTab === 'wanders'">
      <div *ngIf="!userWanders || !userWanders.searchResults" class="main-block">No wanders</div>
      <app-wander-results [result]="userWanders"></app-wander-results>
    </div>
</div>

 <div class="popup" *ngIf="ngPopup">
   <div>
     <div class="popup-text">
       <textarea [(ngModel)]="messageText"></textarea>
     </div>
     <div class="popup-buttons">
       <input type="button" value="Cancel" class="wl-btn wl-reset" (click)="btnCancel()">
       <input type="submit" value="Send" class="wl-btn" (click)="sendMessage()">
     </div>
   </div>
 </div>
 <div class="popup" *ngIf="!!avaPopup">
   <div class="avaHolder">
     <img class="ava_preview">
   </div>
   <div class="previewBtns">
     <button class="wl-btn" (click)="uploadAva()">Upload</button>
     <button class="wl-reset" (click)="cancelUpload()">Cancel</button>
   </div>
 </div>
