<div class="login_cont">
    <h4 class="w3-center">Login form</h4>
    <p class="field">
      <input type="text" name="login" placeholder="Username or email">
      <i class="fa fa-user"></i>
    </p>
    <p class="field">
      <input type="password" name="password" placeholder="Password">
      <i class="fa fa-lock"></i>
    </p>
    <a href="FrgPswd">Forgot your password?</a>
    <div class="login_form_submit">
      <label><input type="checkbox" name="checkbox" value="value">Remember me</label>
      <input type="submit" value="Login">
    </div>
    <div class="w3-center">
      <label>Don't have account?</label>
      <a routerLink="/register">Register now</a>
    </div>
</div>

