<div class="friends-container">
  <div class="header">
    <div class="box">
      <div class="container-1">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" [(ngModel)]="searchKeyword" (blur)="performSearch()" placeholder="Search..." />
      </div>
      <div class="search_res">
        <div class="friend" *ngFor="let result of searchResult">
          <div class="friend-header">
            <div class="avatar">
              <img src="{{result.avatar || '../../../assets/images/users/bzahay.png'}}">
            </div>
            <h4 (click)="goToProfile(result._id)" class="name">{{result.firstName}} {{result.lastName}}</h4>
            <div class="actions">
              <i *ngIf="user.friends.indexOf(result.email) === -1" class="fa fa-plus"(click)="addResult(result)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="friends-container" (click)="hideResults()">
    <div class="friend" *ngFor="let friend of friends">
      <div class="friend-header">
        <div class="avatar">
          <img src="{{friend.avatar}}">
        </div>
        <h4 (click)="goToProfile(friend._id)" class="name">{{friend.firstName}} {{friend.lastName}}</h4>
        <div class="actions">
          <i class="fa fa-envelope"(click)="messageFriend(friend)"></i>
          <i class="fa fa-share" (click)="inviteFriend(friend)"></i>
          <i class="delete" (click)="deleteFriend(friend)">X</i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup" *ngIf="ngPopup">
  <div *ngIf="ngPopup == 'delete'">
    <div class="popup-text">
      <span>Are your sure you want to delete {{friendAction.firstName + ' ' + friendAction.lastName}} from friends?</span>
    </div>
    <div class="popup-buttons">
      <input type="button" value="Cancel" class="wl-btn wl-reset" (click)="btnCancel()">
      <input type="submit" value="Yes" class="wl-btn" (click)="btnDelete()">
    </div>
  </div>
  <div *ngIf="ngPopup == 'message'">
    <div class="popup-text">
      <textarea [(ngModel)]="messageText"></textarea>
    </div>
    <div class="popup-buttons">
      <input type="button" value="Cancel" class="wl-btn wl-reset" (click)="btnCancel()">
      <input type="submit" value="Send" class="wl-btn" (click)="btnSend()">
    </div>
  </div>
  <div *ngIf="ngPopup == 'invite'">
    <div class="popup-text">
      <select [(ngModel)]="wanderToInvite">
        <option *ngFor="let wander of myWanders" value="{{wander.wander._id}}">
          <span *ngFor="let dest of wander.wander.destinations; let i = index">
            <span>{{dest}}</span>
            <span *ngIf="i!= wander.wander.destinations.length-1">&nbsp;-&nbsp;</span>
          </span>
        </option>
      </select>
    </div>
    <div class="popup-buttons">
      <input type="button" value="Cancel" class="wl-btn wl-reset" (click)="btnCancel()">
      <input type="submit" value="Invite" class="wl-btn" (click)="btnInvite()">
    </div>
  </div>
</div>


