.single_wander_avatar img{
    max-width: 120px;
}
h4{
    font-weight: 600;
}
.single_wander{
    margin: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
.single_wander_info{
    margin-left: 40px;
}
.info-1{
    width: 70%;
}
.info-2{
    width: 30%;
}
.wl_block_row{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.single_wander_title{
    justify-content: space-between;
}
.single_wander_title label{
    margin-left: 40px;
}
.initiator_rate{
    margin-left: 20px;
}
.prop1{
    width: 75%;
}
.prop2{
    width: 25%;
}
.prop .wl_block_row label{
    margin-left: 20px;
}
.wl_block_row img{
    max-width: 24px;
}
.desc_container{
    max-height: 120px;
    overflow: hidden;
}
